<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <title>Adamant Math Calculator</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="text-center" style="margin-top: 20px;">Adamant Math</h1>
        </header>
        <p>Adamant Math is a fun way to play games and learn math at the same time! Freestyling with your own questions or taking a quiz with question you have set are fun ways to quickly improve your math skills. The number guessing and number memory games are fun for improving your memory and critical thinking skills.</p>
        <section style="margin-top: 30px;">
            <h2 class="text-center">Choose modes:</h2>
            <div class="text-center" style="margin-top: 20px;">
                <a href="{{ url_for('answer_checker') }}" class="btn btn-primary btn-lg" style="margin: 10px;">Answer Checker</a>
                <a href="{{ url_for('memory_bank') }}" class="btn btn-primary btn-lg" style="margin: 10px;">Memory Bank Game</a>
                <a href="{{ url_for('number_guesser') }}" class="btn btn-primary btn-lg" style="margin: 10px;">Number Guesser</a>
                <a href="{{ url_for('number_memory') }}" class="btn btn-primary btn-lg" style="margin: 10px;">Number Memory</a>
            </div>
        </section>
    </div>
</body>
</html>