<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Dataman</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('answer_checker') }}">Answer Checker</a></li>
                <li class="active"><a href="{{ url_for('memory_bank') }}">Memory Bank</a></li>
                <li class="active"><a href="{{ url_for('number_guesser') }}">Number Guesser</a></li>
                <li class="active"><a href="{{ url_for('number_memory') }}">Number Memory</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% if quiz_completed %}
            <div class="alert alert-success" role="alert">
                Congratulations! You've completed all the questions in the quiz.
                <p>Your Score: {{ score }} out of 10</p>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('quiz', reset_quiz=True) }}" class="btn btn-success">Try Again</a>
                <a href="{{ url_for('memory_bank', show_form=true) }}" class="btn btn-primary">Enter New Equations</a>
            </div>
        {% else %}
            <h3>Question {{ question_number }}</h3>
            <form method="post" action="{{ url_for('quiz') }}" autocomplete="off">
                <div class="form-group">
                    <input type="text" class="form-control" id="question" name="question" value="{{ question }}" readonly autocomplete="off" required disabled>
                </div>
                <div class="form-group">
                    <label for="answer">Your Answer:</label>
                    <input type="number" class="form-control" id="answer" name="answer" required>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary">Submit Answer</button>
                    <a href="{{ url_for('memory_bank') }}" class="btn btn-primary">Leave Quiz</a>
                </div>
            </form>
        {% endif %}
    </div>
</body>
</html>
